@model int
<form asp-action="Apply" asp-controller="Jobs" method="post">
    <input type="hidden" name="vacancyId" value="@Model" />
    <button type="submit" class="btn btn-primary">Apply</button>
</form>
