@model FindRab.ViewModels.LoginViewModel


<div class="login-container">
    <h2>Авторизация</h2>
    <form method="post" asp-action="Login" asp-controller="Account">
        <div>
            <label asp-for="Username">Логин:</label>
            <input asp-for="Username" />
            <span class="validation-message" asp-validation-for="Username"></span>
        </div>
        <div>
            <label asp-for="Password">Введите пароль:</label>
            <input asp-for="Password" type="password" />
            <span class="validation-message" asp-validation-for="Password"></span>
        </div>
        <a href="@Url.Action("Register", "Account")">Зарегистрироваться</a></p>
        <div>
            <input type="submit" value="Войти" />
        </div>
    </form>
</div>
<div class="button-container">
    <form method="get" action="/Home/Index">
        <button type="submit" class="return-button">Вернуться на главную страницу</button>
    </form>
</div>


