﻿model FindRab.Models.SecurityModel
<p><a asp-action="Registration">Регистрация</a></p>
<h2>Авторизация</h2>
<form method="post" asp-controller="Account" asp-action="Autorization">
    <p>
        <label asp-for="Username">Логин</label><br />
        <input type="text" asp-for="Username" />
    </p>
    <p>
        <label asp-for="Password">Пароль</label><br />
        <input type="text" asp-for="Password" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>