

    <form method="post" asp-controller="Home" asp-action="index">
        h1>Круто</h1>
   <div>
        @foreach (var item in Model.user)
        {
            <p>пользователь:  </p>

        }
    </div>
    </form>
    <

