@{
    ViewData["Title"] = "User Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindRab</title>
    @*<link rel="stylesheet" "@(Url.Content("~/css/site.css"))">*@
    <link href="~/css/site.css" rel="stylesheet" />
    
</head>


<body>
    
    <div class="page-title">Добро пожаловать на сайт поиска работы!</div>
    <div class="button-container">
        <form method="get" action="/Jobs/Index">
            <button type="submit" class="return-button">Найти Вакансию</button>
        </form>
        <form method="get" action="/Jobs/Create">
            <button type="submit" class="create-resume-button">Создать Вакансию</button>
        </form>
    </div>
    

    
</body>
</html>