<!DOCTYPE html>
<html>
<head>
    <title>Меню</title>
    
</head>
<body>
    <h2>Меню</h2>
    
    <div class="button-container">
        <form method="get" action="/Home/Index">
            <button type="submit" class="return-button">Вернуться на главную страницу</button>
        </form>
    </div>
</body>
</html>
